@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/Kanika.jpg" class="card-img-top" alt="Kanika Rawal">
                <div class="card-body">
                    <h5 class="card-title">Kanika Rawal</h5>
                    <p class="card-text">Developer and Artist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/nishant.jpg" class="card-img-top" alt="Nishant Bangar">
                <div class="card-body">
                    <h5 class="card-title">Nishant Bangar</h5>
                    <p class="card-text">Developer and Gamer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/om.jpg" class="card-img-top" alt="Omkar Yelam">
                <div class="card-body">
                    <h5 class="card-title">Omkar Yelam</h5>
                    <p class="card-text">Developer and Gamer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/vaibhav.jpg" class="card-img-top" alt="Vaibhav Yadhav">
                <div class="card-body">
                    <h5 class="card-title">Vaibhav Yadhav</h5>
                    <p class="card-text">Developer and Gamer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="~/img/team/yash.jpg" class="card-img-top" alt="Yash">
                <div class="card-body">
                    <h5 class="card-title">Yash</h5>
                    <p class="card-text">Developer and Gamer</p>
                </div>
            </div>
        </div>
    </div>
</div>